@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');


/********************CUSTOM PROPERTIES********************/
:root{
    --font-menu: 'Roboto Mono', monospace;
    --font-title: 'Play', sans-serif;
}


/******************RESET STYLE BOOTSTRAP******************/
.navbar-dark .navbar-nav .nav-link {
    font-family: var(--font-menu);
}
hr{
    padding: 0;
    margin: 0;
}
h3,h5,h2,h6,h4{
    font-family: var(--font-title);
}
.card > .card-body{
    background-color: #ffffff;
}
/************************MY STYLE************************/
.container-carousel-slides{
    width: 80%;
    height: 450px;
}
.card-style-second{
    width: 22%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 20px;
}
.card-style-opacity{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-style-second:hover .card-style-opacity{
    transform: translateX(0);
}
.img-responsive{
    width: 100%;
    height: 100%;
}
[class^='container-item-footer']{
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 1s;
}
[class^='container-item-footer'] > a:hover{
    text-decoration: none;
}
h2{
    transition: 1s;
}
.container-item-footer-L{
    background-color: #2475A7;
}
.container-item-footer-C,
.container-item-footer-G{
    background-color: #000000;
}
.container-item-footer-I{
    background-color: #7C00A9;
}
.fa-linkedin-in,
.fa-codepen,
.fa-instagram,
.fa-github{
    color: #FFFFFF;
    font-size: 30px;
    transition: all 1s ease;
    transform: translateY(35px);
    opacity: 0;
}
.container-item-footer-L:hover .fa-linkedin-in,
.container-item-footer-C:hover .fa-codepen,
.container-item-footer-I:hover .fa-instagram,
.container-item-footer-G:hover .fa-github{
    transform: translateY(0);
    opacity: 1;
}
.container-item-footer-L:hover h2,
.container-item-footer-C:hover h2,
.container-item-footer-I:hover h2,
.container-item-footer-G:hover h2{
    margin-top: 10px;
}
.sub-footer{
    width: 50%;
    height: 40px;
    background-color: #000000;
}
.sub-footer ul li a{
    color: #636363;
    font-family: var(--font-title);
}
.sub-footer ul li a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
ul li{
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
.sub-footer > h6{
    color: #636363;
}
.container-skills{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
[class^='progress-skills-']{
    width: 50%;
    height: 30px;
    background-color: #ececec;
    border-radius: 10px;
    position: relative;
}
[class^='progress-skills-']::before{
    content: "";
    height: 100%;
    background-color: #3A70B8;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progress-skills-H:before,
.progress-skills-C:before{
    width: 60%;
}
.progress-skills-B:before{
    width: 50%;
}
.progress-skills-J:before{
    width: 45%;
}
.progress-skills-R:before,
.progress-skills-P:before{
    width: 30%;
}
/*******************MEDIA QUERY MEDIUM*******************/
@media (max-width: 768px){
    .menu-bar{
        top: 10px;
        right: 20px;
    }
    .container-carousel-slides{
        width: 90%;
        height: 400px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
}
/****************MEDIA QUERY  SMALL*******************/
@media (max-width: 576px){
    .menu-bar{
        top: 10px;
        right: 20px;
    }
    .container-carousel-slides{
        width: 95%;
        height: 300px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
    .card{
        width: 30rem !important;
        margin: 20px 0 !important;
    }
    .card-style-second{
        width: 44%;
        height: 200px;
        margin: 10px 10px;
    }
    [class^='container-item-footer']{
        width: 100%;
        height: 250px;
    }
    .sub-footer{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    .sub-footer > ul > li{
        margin: 0 10px !important;
    }
    .sub-footer > h6{
        margin: 0 !important;
    }
    [class^='progress-skills-']{
        width: 90%;
    }
}
/****************MEDIA QUERY EXTRA SMALL****************/
@media (max-width: 420px){
    .menu-bar{
        top: 10px;
        right: 20px;
    }
    .container-carousel-slides{
        width: 95%;
        height: 200px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
    .card{
        width: 50rem !important;
        margin: 10px 0 !important;
    }
    .card-style-second{
        width: 90%;
        height: 250px;
        margin: 15px 0;
    }
    .container-item-footer{
        width: 100%;
        height: 250px;
    }
    .sub-footer{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    .sub-footer > ul > li{
        margin: 0 10px !important;
    }
    .sub-footer > h6{
        margin: 0 !important;
    }
    [class^='progress-skills-']{
        width: 90%;
    }
}